.Rproj.user
.Rhistory
.RData
.Ruserdata
archive/
biovars/
biovar_summaries/
data_products/
mahalanobis_distance/
summary_table/
system_distributions/
type_specific_modeling/
z_scores/
shapefiles/
30m_ned_hlshd/
info/
temp_soils_mobi/
process_initial_climate_data/
GMU_project/


*.pdf
 